[submodule "translator/libraries/BuDDySharp"]
	path = translator/libraries/BuDDySharp
	url = https://github.com/thisiscam/BuDDySharp.git
	branch = swig_cpp
[submodule "translator/tests/Benchmarks"]
	path = translator/tests/Benchmarks
	url = https://github.com/thisiscam/SymbolicP-Benchmarks.git
[submodule "translator/libraries/SylvanSharp"]
	path = translator/libraries/SylvanSharp
	url = https://github.com/thisiscam/SylvanSharp.git
